In [5]:
import pandas as pd

In [6]:
#Question 1
def load_and_get_sum(filename):
    df = pd.read_csv(filename)
    df = df.dropna()
    df = df.groupby(["Spaceship"]).sum()
    return df

In [39]:
#Checking question 1
df = load_and_get_sum("spaceships.csv")
df

                Earth-Alpha  LunarDocks  MarsStation  DeepSpace1  DeepSpace2
Spaceship
USS-Enterprise          8.0         8.0          8.0         8.0         8.0
USS-Pathfinder          6.0         0.0          0.0         3.0         3.0
USS-Peres              18.0         9.0          0.0         0.0         9.0
USS-Voyager             4.0         4.0          0.0         5.0         2.0

In [36]:
df_no_zeroes = ((df>0).sum() > 3).sum()

In [47]:
df_no_zeroes

2

In [50]:
df_same_aginot = (df.sum()/df['Earth-Alpha'])
df_same_aginot
a = df.sum()
print(a)
df['Earth-Alpha']
a/df['Earth-Alpha']

Earth-Alpha    36.0
LunarDocks     21.0
MarsStation     8.0
DeepSpace1     16.0
DeepSpace2     22.0
dtype: float64

DeepSpace1       NaN
DeepSpace2       NaN
Earth-Alpha      NaN
LunarDocks       NaN
MarsStation      NaN
USS-Enterprise   NaN
USS-Pathfinder   NaN
USS-Peres        NaN
USS-Voyager      NaN
dtype: float64